COMPOSE_PROJECT_NAME=happy-donut
POSTGRES_USER=happy_donut
POSTGRES_PASSWORD=change-me-locally
RABBITMQ_USER=happy_donut
RABBITMQ_PASS=change-me-locally
VENTAS_APP_KEY=base64:REPLACE_WITH_PHP_ARTISAN_KEY_GENERATE_SHOW
INVENTARIO_APP_KEY=base64:REPLACE_WITH_PHP_ARTISAN_KEY_GENERATE_SHOW
USUARIOS_APP_KEY=base64:REPLACE_WITH_PHP_ARTISAN_KEY_GENERATE_SHOW
FINANZAS_APP_KEY=base64:REPLACE_WITH_PHP_ARTISAN_KEY_GENERATE_SHOW
TIENDA_APP_KEY=base64:REPLACE_WITH_PHP_ARTISAN_KEY_GENERATE_SHOW
FINANZAS_CAJA_ESTADO_URL=http://servicio-finanzas/api/finanzas/caja/actual
